In [1]:
import pandas as pd

In [5]:
race = "ShareRaceByCity.csv"
Race = pd.read_csv(race)
Race

,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic
0,AL,Abanda CDP,67.2,30.2,0,0,1.6
1,AL,Abbeville city,54.4,41.4,0.1,1,3.1
2,AL,Adamsville city,52.3,44.9,0.5,0.3,2.3
3,AL,Addison town,99.1,0.1,0,0.1,0.4
4,AL,Akron town,13.2,86.5,0,0,0.3
...,...,...,...,...,...,...,...
29263,WY,Woods Landing-Jelm CDP,95.9,0,0,2.1,0
29264,WY,Worland city,89.9,0.3,1.3,0.6,16.6
29265,WY,Wright town,94.5,0.1,1.4,0.2,6.2
29266,WY,Yoder town,97.4,0,0,0,4
29267,WY,Y-O Ranch CDP,92.8,1.5,2.6,0,11.8

In [7]:
poverty = "datasets_2647_4395_PercentagePeopleBelowPovertyLevel.csv"
Poverty = pd.read_csv(poverty)
Poverty

      Geographic Area                    City poverty_rate
0                  AL              Abanda CDP         78.8
1                  AL          Abbeville city         29.1
2                  AL         Adamsville city         25.5
3                  AL            Addison town         30.7
4                  AL              Akron town           42
...               ...                     ...          ...
29324              WY  Woods Landing-Jelm CDP         18.6
29325              WY            Worland city         15.3
29326              WY             Wright town          5.9
29327              WY              Yoder town          5.4
29328              WY           Y-O Ranch CDP            0

[29329 rows x 3 columns]

In [20]:
RacePoverity = pd.merge(Race, Poverty, how="left", left_on=["City", "Geographic area"], right_on=["City", "Geographic Area"])
RacePoverity

,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic,Geographic Area,poverty_rate
0,AL,Abanda CDP,67.2,30.2,0,0,1.6,AL,78.8
1,AL,Abbeville city,54.4,41.4,0.1,1,3.1,NaN,NaN
2,AL,Adamsville city,52.3,44.9,0.5,0.3,2.3,NaN,NaN
3,AL,Addison town,99.1,0.1,0,0.1,0.4,AL,30.7
4,AL,Akron town,13.2,86.5,0,0,0.3,AL,42
...,...,...,...,...,...,...,...,...,...
29263,WY,Woods Landing-Jelm CDP,95.9,0,0,2.1,0,WY,18.6
29264,WY,Worland city,89.9,0.3,1.3,0.6,16.6,NaN,NaN
29265,WY,Wright town,94.5,0.1,1.4,0.2,6.2,WY,5.9
29266,WY,Yoder town,97.4,0,0,0,4,WY,5.4
29267,WY,Y-O Ranch CDP,92.8,1.5,2.6,0,11.8,WY,0

In [12]:
new = Poverty["City"].str.replace("\scity", "")
Poverty["City"]= new
Poverty

      Geographic Area                    City poverty_rate
0                  AL              Abanda CDP         78.8
1                  AL               Abbeville         29.1
2                  AL              Adamsville         25.5
3                  AL            Addison town         30.7
4                  AL              Akron town           42
...               ...                     ...          ...
29324              WY  Woods Landing-Jelm CDP         18.6
29325              WY                 Worland         15.3
29326              WY             Wright town          5.9
29327              WY              Yoder town          5.4
29328              WY           Y-O Ranch CDP            0

[29329 rows x 3 columns]