In [1]:
import pandas as pd

In [2]:
race = "ShareRaceByCity.csv"
Race = pd.read_csv(race)
Race

,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic
0,AL,Abanda CDP,67.2,30.2,0,0,1.6
1,AL,Abbeville city,54.4,41.4,0.1,1,3.1
2,AL,Adamsville city,52.3,44.9,0.5,0.3,2.3
3,AL,Addison town,99.1,0.1,0,0.1,0.4
4,AL,Akron town,13.2,86.5,0,0,0.3
...,...,...,...,...,...,...,...
29263,WY,Woods Landing-Jelm CDP,95.9,0,0,2.1,0
29264,WY,Worland city,89.9,0.3,1.3,0.6,16.6
29265,WY,Wright town,94.5,0.1,1.4,0.2,6.2
29266,WY,Yoder town,97.4,0,0,0,4
29267,WY,Y-O Ranch CDP,92.8,1.5,2.6,0,11.8

In [3]:
poverty = "datasets_2647_4395_PercentagePeopleBelowPovertyLevel.csv"
Poverty = pd.read_csv(poverty)
Poverty

      Geographic Area                    City poverty_rate
0                  AL              Abanda CDP         78.8
1                  AL          Abbeville city         29.1
2                  AL         Adamsville city         25.5
3                  AL            Addison town         30.7
4                  AL              Akron town           42
...               ...                     ...          ...
29324              WY  Woods Landing-Jelm CDP         18.6
29325              WY            Worland city         15.3
29326              WY             Wright town          5.9
29327              WY              Yoder town          5.4
29328              WY           Y-O Ranch CDP            0

[29329 rows x 3 columns]

In [4]:
RacePoverity = pd.merge(Race, Poverty, how="left", left_on=["City", "Geographic area"], right_on=["City", "Geographic Area"])
RacePoverity

,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic,Geographic Area,poverty_rate
0,AL,Abanda CDP,67.2,30.2,0,0,1.6,AL,78.8
1,AL,Abbeville city,54.4,41.4,0.1,1,3.1,AL,29.1
2,AL,Adamsville city,52.3,44.9,0.5,0.3,2.3,AL,25.5
3,AL,Addison town,99.1,0.1,0,0.1,0.4,AL,30.7
4,AL,Akron town,13.2,86.5,0,0,0.3,AL,42
...,...,...,...,...,...,...,...,...,...
29263,WY,Woods Landing-Jelm CDP,95.9,0,0,2.1,0,WY,18.6
29264,WY,Worland city,89.9,0.3,1.3,0.6,16.6,WY,15.3
29265,WY,Wright town,94.5,0.1,1.4,0.2,6.2,WY,5.9
29266,WY,Yoder town,97.4,0,0,0,4,WY,5.4
29267,WY,Y-O Ranch CDP,92.8,1.5,2.6,0,11.8,WY,0

In [5]:
new = Poverty["City"].str.replace("\scity", "")
Poverty["City"]= new
Poverty

      Geographic Area                    City poverty_rate
0                  AL              Abanda CDP         78.8
1                  AL               Abbeville         29.1
2                  AL              Adamsville         25.5
3                  AL            Addison town         30.7
4                  AL              Akron town           42
...               ...                     ...          ...
29324              WY  Woods Landing-Jelm CDP         18.6
29325              WY                 Worland         15.3
29326              WY             Wright town          5.9
29327              WY              Yoder town          5.4
29328              WY           Y-O Ranch CDP            0

[29329 rows x 3 columns]

In [6]:
DataSet1 = "datasets_2647_4395_PoliceKillingsUS.csv"
DataSet1 = pd.read_csv(DataSet1)
Renamed = DataSet1.rename(columns={"city":"City","state":"State","name":"Victim's name",
                                   "age":"Victim's age", "gender":"Victim's gender","race":"Victim's race"})
Renamed

,id,Victim's name,date,manner_of_death,armed,Victim's age,Victim's gender,Victim's race,City,State,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2530,2822,Rodney E. Jacobs,28/07/17,shot,gun,31.0,M,NaN,Kansas City,MO,False,attack,Not fleeing,False
2531,2813,TK TK,28/07/17,shot,vehicle,NaN,M,NaN,Albuquerque,NM,False,attack,Car,False
2532,2818,Dennis W. Robinson,29/07/17,shot,gun,48.0,M,NaN,Melba,ID,False,attack,Car,False
2533,2817,Isaiah Tucker,31/07/17,shot,vehicle,28.0,M,B,Oshkosh,WI,False,attack,Car,True
2534,2815,Dwayne Jeune,31/07/17,shot,knife,32.0,M,B,Brooklyn,NY,True,attack,Not fleeing,False

In [7]:
#Renamed = pd.DataFrame({"Victim's name":[len(Renamed["Victim's name"].unique())]})
#Renamed

In [8]:
DataSet2 = "police_killings_new.csv"
DataSet2 = pd.read_csv(DataSet2)
DataSet2

,Victim's name,Victim's age,Victim's gender,Victim's race,URL of image of victim,Date of Incident (month/day/year),Street Address of Incident,City,State,Zipcode,...,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65
0,Eric M. Tellez,28,Male,White,https://fatalencounters.org/wp-content/uploads...,31/12/2019,Broad St.,Globe,AZ,85501.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Name withheld by police,NaN,Male,Unknown race,NaN,31/12/2019,7239-7411 I-40,Memphis,AR,38103.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Terry Hudson,57,Male,Black,NaN,31/12/2019,3600 N 24th St,Omaha,NE,68110.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Malik Williams,23,Male,Black,NaN,31/12/2019,30800 14th Avenue South,Federal Way,WA,98003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Frederick Perkins,37,Male,Black,NaN,31/12/2019,17057 N Outer 40 Rd,Chesterfield,MO,63005.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#DataSet2["Victim's age"] = DataSet2["Victim's age"].astype(float)

In [10]:
DataSet2.head()
Renamed.head()

,id,Victim's name,date,manner_of_death,armed,Victim's age,Victim's gender,Victim's race,City,State,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [11]:
CombinedDataSet = pd.merge(DataSet2, Renamed, how="outer", left_on=["Victim's name","City", "State"], 
                           right_on=["Victim's name","City", "State"])
CombinedDataSet

,Victim's name,Victim's age_x,Victim's gender_x,Victim's race_x,URL of image of victim,Date of Incident (month/day/year),Street Address of Incident,City,State,Zipcode,...,date,manner_of_death,armed,Victim's age_y,Victim's gender_y,Victim's race_y,signs_of_mental_illness,threat_level,flee,body_camera
0,Eric M. Tellez,28,Male,White,https://fatalencounters.org/wp-content/uploads...,31/12/2019,Broad St.,Globe,AZ,85501.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Name withheld by police,NaN,Male,Unknown race,NaN,31/12/2019,7239-7411 I-40,Memphis,AR,38103.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Terry Hudson,57,Male,Black,NaN,31/12/2019,3600 N 24th St,Omaha,NE,68110.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Malik Williams,23,Male,Black,NaN,31/12/2019,30800 14th Avenue South,Federal Way,WA,98003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Frederick Perkins,37,Male,Black,NaN,31/12/2019,17057 N Outer 40 Rd,Chesterfield,MO,63005.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8965,TK TK,NaN,NaN,NaN,NaN,NaN,NaN,San Antonio,TX,NaN,...,26/07/17,shot,gun,NaN,M,NaN,False,attack,Not fleeing,False
8966,Jerauld Phillip Hammond II,NaN,NaN,NaN,NaN,NaN,NaN,Los Angeles,CA,NaN,...,27/07/17,shot,gun,46.0,M,NaN,False,other,Not fleeing,False
8967,Matthew Folden,NaN,NaN,NaN,NaN,NaN,NaN,Wenatchee,WA,NaN,...,27/07/17,shot,knife,31.0,M,NaN,False,other,Not fleeing,False
8968,Brian J. Skinner,NaN,NaN,NaN,NaN,NaN,NaN,Glenville,NY,NaN,...,28/07/17,shot,knife,32.0,M,NaN,True,other,Not fleeing,False
8969,TK TK,NaN,NaN,NaN,NaN,NaN,NaN,Albuquerque,NM,NaN,...,28/07/17,shot,vehicle,NaN,M,NaN,False,attack,Car,False

In [12]:
CombinedDataSet.columns

Index(['Victim's name', 'Victim's age_x', 'Victim's gender_x',
       'Victim's race_x', 'URL of image of victim',
       'Date of Incident (month/day/year)', 'Street Address of Incident',
       'City', 'State', 'Zipcode', 'County', 'Agency responsible for death',
       'Cause of death',
       'A brief description of the circumstances surrounding the death',
       'Official disposition of death (justified or other)',
       'Criminal Charges?',
       'Link to news article or photo of official document',
       'Symptoms of mental illness?', 'Unarmed',
       'Alleged Weapon (Source: WaPo)', 'Alleged Threat Level (Source: WaPo)',
       'Fleeing (Source: WaPo)', 'Body Camera (Source: WaPo)',
       'WaPo ID (If included in WaPo database)', 'Off-Duty Killing?',
       'Geography (via Trulia methodology based on zipcode population density: http://jedkolko.com/wp-content/uploads/2015/05/full-ZCTA-urban-suburban-rural-classification.xlsx )',
       'ID', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30',
       'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34',
       'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38',
       'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42',
       'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46',
       'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50',
       'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54',
       'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58',
       'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62',
       'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'id', 'date',
       'manner_of_death', 'armed', 'Victim's age_y', 'Victim's gender_y',
       'Victim's race_y', 'signs_of_mental_illness', 'threat_level', 'flee',
       'body_camera'],
      dtype='object')

In [13]:
UniqueNames_df = pd.DataFrame({"Victim's name":[len(CombinedDataSet["Victim's name"].unique())]})
UniqueNames_df

   Victim's name
0           8145

In [15]:
CombinedDataSet = CombinedDataSet[["Victim's name","Victim's age_x"]]
CombinedDataSet

                   Victim's name Victim's age_x
0                 Eric M. Tellez             28
1        Name withheld by police            NaN
2                   Terry Hudson             57
3                 Malik Williams             23
4              Frederick Perkins             37
...                          ...            ...
8965                       TK TK            NaN
8966  Jerauld Phillip Hammond II            NaN
8967              Matthew Folden            NaN
8968            Brian J. Skinner            NaN
8969                       TK TK            NaN

[8970 rows x 2 columns]

In [23]:
from sqlalchemy import create_engine
# import pymysql
# pymysql.install_as_MySQLdb()
from sqlalchemy import Column, Integer, String, Float

In [62]:
engine = create_engine("sqlite:///PoliceShootings.sqlite")
Base.metadata.create_all(engine)

In [63]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [64]:
conn = engine.connect()

In [65]:
CombinedDataSet_sql = CombinedDataSet.rename(columns={"Victim's name":"Name",
                                               "Victim's age_x":"Age"})

In [69]:
CombinedDataSet_sql.to_sql(name='Shootings', con=engine, if_exists='append', index=False)

In [71]:
class Shootings(Base):
    __tablename__ = 'Shootings'
    Name = Column(String, primary_key=True)
    Age = Column(Integer)

InvalidRequestError: Table 'Shootings' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [70]:
deaths_at_age = session.query(Shootings).filter_by(type=28).count()
print(deaths_at_age)

NameError: name 'Shootings' is not defined

In [44]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

In [58]:
engine.execute("SELECT * FROM Shootings").fetchall()

[('Eric M. Tellez', '28'),
 ('Name withheld by police', None),
 ('Terry Hudson', '57'),
 ('Malik Williams', '23'),
 ('Frederick Perkins', '37'),
 ('Michael Vincent Davis', '49'),
 ('Brian Elkins', '47'),
 ('Debra D. Arbuckle', '51'),
 ('Name withheld by police', None),
 ('Name withheld by police', None),
 ('Name withheld by police', None),
 ('Name withheld by police', '29'),
 ('Name withheld by police', 'Unknown'),
 ('Name withheld by police', 'Unknown'),
 ('Name withheld by police', 'Unknown'),
 ('Name withheld by police', 'Unknown'),
 ('Name withheld by police', 'Unknown'),
 ('Name withheld by police', 'Unknown'),
 ('Name withheld by police', '45'),
 ('Name withheld by police', None),
 ('Name withheld by police', '28'),
 ('Name withheld by police', 'Unknown'),
 ('Name withheld by police', '20'),
 ('Name withheld by police', '46'),
 ('Name withheld by police', '34'),
 ('Cody McCaulou', '27'),
 ('Manuel Gonzales Verdugo', '50'),
 ('John Bott', '76'),
 ('Patrick Alden', '29'),
 ('Name withheld by police', None),
 ('Kelly Michael Stephens', '34'),
 ('Troy Kirk', '31'),
 ('A.B. Carr', '31'),
 ('Albert Benjamin Simon', '52'),
 ('Craig Ellis See', '34'),
 ('Heriberto Rodriguez', '27'),
 ('John Lowell Dollen', None),
 ('Henry Kistler Berry III', '43'),
 ('Frederick Jeremy Atkin', '42'),
 ('Christopher Camacho', '16'),
 ('Antonio Smith', '35'),
 ('Juan Rosa', '35'),
 ('Deangelo Rashad Martin', '23'),
 ('Lori Jean Canada', '59'),
 ('David A. White', '56'),
 ('Harvey Cantrell', '65'),
 ('Elray Barber', '60'),
 ('Richard Ruiz', '38'),
 ('Austin Chase Swindle', '24'),
 ('Macario Hernandez', '34'),
 ('Romir Talley', '24'),
 ('Kenneth Collins', '46'),
 ('Name withheld by police', None),
 ('Michael DeCastro', '57'),
 ('Mark Stoddard', '40'),
 ('Brian Lee Mullen', '57'),
 ('Marc Denver Thompson', '26'),
 ('Steven DeWayne Haizlip', '61'),
 ('John Resetar', '44'),
 ('Gary Wayne Madewell', '38'),
 ('Emanuel Johnson', '21'),
 ('Christopher Joseph Gray', '29'),
 ('Jason Elliot Waterhouse', '47'),
 ('Jayson A. Colvin', '38'),
 ('Mohamed Ahemed Al-Hashemi', '25'),
 ('Kentrey Marquis Witherspoon', '28'),
 ('Tyler Hall', '29'),
 ('Ricky Lee Gardipee', '41'),
 ('Clyde Jacob Sullivan', '27'),
 ('Paul Jarvis', '63'),
 ('Dana Brown', '27'),
 ('Kyle Horton', '31'),
 ('Name withheld by police', None),
 ('Name withheld by police', '30'),
 ('Name withheld by police', 'Unknown'),
 ('Name withheld by police', 'Unknown'),
 ('Name withheld by police', 'Unknown'),
 ('Name withheld by police', None),
 ('Name withheld by police', '70'),
 ('Bernie Rascon', '28'),
 ('Dustin Spencer', '34'),
 ('Kean Walker', '23'),
 ('Mario Alberto Torres', '27'),
 ('Chiasher Fong Vue', '52'),
 ('Mohammad Jamal Isaifan', '40'),
 ('Louis Patrick Veal', '65'),
 ('Jamee Christopher Deonte Johnson', '22'),
 ('Victor A. Parsons', '42'),
 ('Alejandro Betancourt Mendoza', '18'),
 ('Taveonte Art Emmanuel', '34'),
 ('Romello Barnes', '22'),
 ('Cortez Bufford', '24'),
 ('Cade Humphrey', '30'),
 ('Erik Lee', '43'),
 ('Anthony Tovar', '43'),
 ('Bradley Cutchens', '23'),
 ('Matthew Jonathon Krupar', '31'),
 ('Mauro Carrillo', '42'),
 ('Daniel Eric Condon', '55'),
 ('Kreen Cornell Bateman', '31'),
 ('David N. Anderson', '47'),
 ('Francine Graham', '50'),
 ('Montay Steven Penning', '23'),
 ('Terrance Edward White', '66'),
 ('Robert Allen Elfgen', '42'),
 ('Delos Peter Lowe', '68'),
 ('Antonio Nichols', '47'),
 ('Koben S. Henriksen', '51'),
 ('London T. Phillips', '35'),
 ('Mark Richard Coleman', '65'),
 ('Hunter Steven James Lowry', '23'),
 ('Dominick Matt', '17'),
 ('Frank Ordonez', '27'),
 ('Lamar Alexander', '41'),
 ('Richard Cutshaw', '70'),
 ('Ronnie Jerome Hill', '41'),
 ('Demetrius Williams', '31'),
 ('Chad James Green', '41'),
 ('Alvern Donell Walker', '58'),
 ('Miguel Russo', '31'),
 ('Thomas Cole Thompson', '58'),
 ('Cameron Lamb', '26'),
 ('Neil Lyle Chiago', '18'),
 ('Dai Phuoc Nguyen', '38'),
 ('Michael Lorenzo Dean', '28'),
 ('Jerric Harris', '21'),
 ('Jimmie Phillips', '68'),
 ('Donald J. Eversen', '60'),
 ('Jordan Oliver', '20'),
 ('Anthony Rosso', '68'),
 ('Yemerson Melendez', '16'),
 ('Steven Kerr', '25'),
 ('Eliborio Rodriguez', '40'),
 ('Raymond Lee', '54'),
 ('Name withheld by police', None),
 ('Keith Alan Bruce', '40'),
 ('Name withheld by police', '46'),
 ('Kenneth Layton', '60'),
 ('Jeremy Pelican', '34'),
 ('Gerardo Martinez Ramirez', '49'),
 ('Derrick Everett', '31'),
 ('Micduff Lamarco Robinson', '40'),
 ('David Glen Ward', '52'),
 ('Nicholas J. "Nick" Cantelmi', '31'),
 ('Eric Sopp', '48'),
 ('Hollis Lewis', '51'),
 ('Nathaniel Pinnock', '22'),
 ('Anthony Chilcott', '36'),
 ('Jason Quincey Niccum', '42'),
 ('Steven Forrest Saucier', '34'),
 ('Estevon Cruz', '24'),
 ('Ariane Lamont McCree', '28'),
 ('Lance Edward Smith', '37'),
 ('William Harris', '51'),
 ('Jessica Ann Beedles', '42'),
 ('Kenneth Simeus', '18'),
 ('Paul Emory Cheek', '55'),
 ('Christopher Terrell Willis', '32'),
 ('Jacob Cato', '34'),
 ('Alex Flores', '34'),
 ('Joel Avery', '41'),
 ('Raul Antonio Menjivar Saabedra', '50'),
 ('Luis Cardona', '38'),
 ('Cody McClintick', '26'),
 ('Dante Redmond Jones', '28'),
 ('Garrett Ryberg', '27'),
 ('Robert Sikon', '41'),
 ('Name withheld by police', None),
 ('Name withheld by police', 'Unknown'),
 ('Mark Sheppard', '27'),
 ('Name withheld by police', None),
 ('Treon McCoy', '33'),
 ('Kennith Waynon Hooker', '52'),
 ('Colin A. C. Wehmeyer', '39'),
 ('Michael A. Jolly', '35'),
 ('Omar Enrique Garcia', '37'),
 ('Christopher Blair Ervie', '47'),
 ('Roy McAllister', '27'),
 ('Justin Anderson', '39'),
 ('Michael Kahalehoe', '30'),
 ('John Luce', '22'),
 ('Tammy Pierce', '59'),
 ('James Aubrey', '56'),
 ('Sidney Alexis Renew', '20'),
 ('Eric Reason', '38'),
 ('Benjamin Lloyd Cloer', '26'),
 ('Lucky Miller', '44'),
 ('Name withheld by police', '44'),
 ('Andrew Joseph Roberts', '29'),
 ('Daniel Thomas Childers', '28'),
 ('Ray Correll', '38'),
 ('Gerald Newton Allen', '66'),
 ('Guy Barnard', '26'),
 ('Christopher Mills', '37'),
 ('Shelby Gazaway', '32'),
 ('Raul Casas Campos', '34'),
 ('Eddie Ray Maxwell', '37'),
 ('Treva Smutherman', '31'),
 ('Corbin Hunter Jones', '20'),
 ('Christopher Allan Noe', '45'),
 ('Michael Lee Nguyen', '32'),
 ('Jay P. Messer', '58'),
 ('Maurice Brown', '48'),
 ('Nash Fiske', '30'),
 ('Daniel Munoz', '21'),
 ('Matthew Rasmussen', '31'),
 ('Name withheld by police', None),
 ('Michael Austin', '32'),
 ('Curtis French', '56'),
 ('John Hale', '42'),
 ('Jose Gallegos', '38'),
 ('Michael Kifer', '29'),
 ('Luis Morales-Camacho', '41'),
 ('Benjamin Diaz', '22'),
 ('Luis Fino Nabarrette', '38'),
 ('Danny James Hall', '34'),
 ('Francis Calonge', '33'),
 ('Edward Roe', '56'),
 ('Ricardo Myers', '62'),
 ('Michael Pinkerman', '26'),
 ('Billy Kongphouthakhoun', '24'),
 ('John Feggins', '24'),
 ('Terry Wayne Chanley', '45'),
 ('Arturo Moreno', '42'),
 ('Luis Arreguin-Lara', '50'),
 ('Dana Sherrod Fletcher', '39'),
 ('Earnest Easterling', '25'),
 ('Dean Thomas', '63'),
 ('Name withheld by police', None),
 ('Name withheld by police', 'Unknown'),
 ('Johnathan Wayne Slattery', '27'),
 ('Nan Ahao', '45'),
 ('Anthony Viadero', '31'),
 ('Clayton Floyd Andrews', '40'),
 ('Raymond V. Tahod', '27'),
 ('Kwesi Ashun', '36'),
 ('Shannon Gail Rupert', '45'),
 ('Anthony John Michael Zapier', '19'),
 ('Matthew James Fleming', None),
 ('Michael Allen Babcock', '53'),
 ('James F. Plymell III', '45'),
 ('Victor Hernandez', '29'),
 ('Jordan Wade Waldrop', '34'),
 ('Matthew Wayne Sutton', '41'),
 ('Delfon Garnell Kinney Sr.', '48'),
 ('David W. Shafer', '61'),
 ('Vincent "Vince" Michael Smith', '29'),
 ('Dominador Araquel Rabot', '55'),
 ('Joseph Bernhard-William Kiser', '21'),
 ('Claudia Nadia Rodriguez', '37'),
 ('Jason Alan Livengood', '39'),
 ('Name withheld by police', None),
 ('Adam Martinez', '36'),
 ('Christopher McCorvey', '36'),
 ('Steven Day', '30'),
 ('Amber Lea Dewitt', '33'),
 ('Ronald Dale McLemore', '51'),
 ('Rickey Leonard Harris', '61'),
 ('Terry Countryman', '34'),
 ('Ruben Escudero', '41'),
 ('Charles Tsakiris', '38'),
 ('Malachii Alexander Crane aka Phillip Rudd', '29'),
 ('David Sanders', '46'),
 ('Christopher Dequan Crosby', '34'),
 ('Marcus Hartsfield', '27'),
 ('Allan Feliz', '31'),
 ('Cameron L. Bennett', '21'),
 ('Lazzeri James Frazier', '21'),
 ('Chase Andrew Austin', '28'),
 ('Dennis Patrick', '28'),
 ('Nasheem Prioleau', '30'),
 ('David James Bamber', '28'),
 ('Akinyia Malik Jerome Gray', '26'),
 ('Cameron Ely', '30'),
 ('Victor Ervin Jarvis', '61'),
 ('Bonny Marie Thomas', '54'),
 ('Christopher Whitfield', '31'),
 ('Daniel James Wood', '29'),
 ('Levy Isaac Madueno Santibanez', '19'),
 ('Jose Eduardo Flores', '26'),
 ('Emilio Mojica', '22'),
 ('Matthew Graham', '32'),
 ('Atatiana Jefferson', '28'),
 ('Sawandi Toussaint', '21'),
 ('Matthew Abrams', '40'),
 ('David Doyle', '56'),
 ('Sayven Lane Rowland', '19'),
 ('Fernando Mora', '57'),
 ('Michael John', '24'),
 ('Michael Phillip Uccello', '48'),
 ('Norbert Beyet', '58'),
 ('Michael Veatch', '32'),
 ('Leo Craig', '31'),
 ('Joseph Francis Cimino', '48'),
 ('Crederick Joseph', '37'),
 ('Zachary Aldrige Hall', '28'),
 ('Christopher G. Louras', '33'),
 ('Joshua Chase Conner', '31'),
 ('Bobby Lee Vaughn', '54'),
 ('Marco Antonio "Tonito" Vasquez', '37'),
 ('Bradley Arning', '42'),
 ('Maurice Holly', '55'),
 ('Sergey Rumyantsev', '25'),
 ('Christopher George Massey', '33'),
 ('Bruce Williams Clark', '37'),
 ('Ronald Audette', '61'),
 ('Joseph Jesk', '32'),
 ('Jack Thomas "Sam" Naylor', '50'),
 ('Roy Tucker', '75'),
 ('Angela Louise Perkins', '38'),
 ('Raphael Michael Torres', '35'),
 ('Jamaal Ramone Taylor', '31'),
 ('Isaac Rasheed Smith', '37'),
 ('Anthony Watkins', '36'),
 ('Richard Cabrera', '38'),
 ('Dewayne Morgan', '37'),
 ('Antonio Lavance Williams', '27'),
 ('Brian Mulkeen', '33'),
 ('David Page', '20'),
 ('Chad Willis Huggins', '28'),
 ('Name withheld by police', None),
 ('Eric DeWayne Curtis', '25'),
 ('Leonard Shand', '49'),
 ('Daryl Jennings Strickland', '64'),
 ('Kevin John Dudenhefer', '32'),
 ('Haywood Allan Cannon', '67'),
 ('Ronald Michael McCrary', '63'),
 ('Jarod Lee Smith', '41'),
 ('Charles "Chase" Nation', '31'),
 ('Raymond Hernandez', '63'),
 ('Fred Louis Babcock', '74'),
 ('Jeffery Tyler Aycock', '28'),
 ('Anderson "Andy" Antelope', '50'),
 ('Jeffrey Peterson', '29'),
 ('Adam Paul English', '21'),
 ('Scott Johnson', '57'),
 ('Fernando Rodriguez', '24'),
 ('Jordan Michael Griffin', '18'),
 ('John Emory Sawyer III', '74'),
 ('Kentorrey Sims', '32'),
 ('Shaharah Coggins', '38'),
 ('Scott Gabriel Spangler', '43'),
 ('Shawn Stevens', '49'),
 ('Willie Hudson', '33'),
 ('Stephen Walter Gagliani', '34'),
 ('Gabriel Rouse', '44'),
 ('Gay Ellen Plack', '57'),
 ('Gregory Edwards', '39'),
 ('Brian Rodden', '36'),
 ('Edward Matthew Guerrero-Cruz', '34'),
 ('Anthony Lonnie White', '27'),
 ('Eric Carter', '53'),
 ('Jeffrey Michael Gibble', '33'),
 ('Donnie Wayne Hall', '50'),
 ('Jason A. Strahan', '41'),
 ('Kristopher Adams', '37'),
 ('Ronald Davis', '31'),
 ('Jason Paul De La Rosa', '41'),
 ('Brian Dryer', '28'),
 ('Jose Luiz "Cheeze" Orona', '33'),
 ('Nicholas Walker', '31'),
 ('Melvin Watkins', '54'),
 ('James Hamilton Glaze', '76'),
 ('Name withheld by police', '25'),
 ('Robert E. Domine', '77'),
 ('Brandon Bell', '17'),
 ('Allen Cates', '29'),
 ('Alvaro Duran Venegas', '35'),
 ('LeEdwards "Pete" Hopkins', '43'),
 ('Caleb Daniel Peterson', '20'),
 ('Tasjon Tyreek Osbourne', '18'),
 ('Bobby Ray Duckworth', '26'),
 ('Quentin Broadus', '33'),
 ('Hector Miranda', '47'),
 ('Kristopher "Kris" Fitzpatrick', '41'),
 ('Christopher "Chris" P. Johnson', '51'),
 ('Bennie Branch', '24'),
 ('Terry Wayne Phipps Jr.', '40'),
 ('Brian Quinones', '30'),
 ('Vondarrow Dewayne Fisher', '42'),
 ('Sam Burt', '65'),
 ('Byron Williams', '50'),
 ('Cortez Shepherd', '28'),
 ('John James Carras', '43'),
 ('Michael E. Robbins', '53'),
 ('Fares J. Al Samno', '29'),
 ('Kenneth Lawson', '62'),
 ('Eduard Alexis Lopez-Ucles', '34'),
 ('Attilio "Tony" A. Gilmartin', '30'),
 ('Terry R. "Rusty" Pierce Jr.', '46'),
 ('Brandon Clayton', '29'),
 ('Robert Anderson', '43'),
 ('Steven Cole Gill', '35'),
 ('Tommy Luke Hranicky', '17'),
 ('Robert Desjarlais Jr.', '49'),
 ('Sidney Holst', '49'),
 ('Kobe Heisler', '21'),
 ('Name withheld by police', None),
 ('Seth Aaron Ator', '36'),
 ('Terry Tillman', '23'),
 ('Juan Carlos Macias', '37'),
 ('Shawn Fondren', '47'),
 ('Alberto Wayne Martinez', '32'),
 ('Stephen Gillard', '27'),
 ('Rene Enrique Ruiz', '51'),
 ('Ricardo Hylton', '35'),
 ('Jason Gonzalez', '39'),
 ('Randall Gamboa', '16'),
 ('Jeremy "Jeremiah" Paul Connolly', '28'),
 ('Wallace Wilder', '62'),
 ('Tyrone Domingo Banks', '30'),
 ('Arthur Walton Jr.', '33'),
 ('Raymond Lewis Williams', '37'),
 ('Bobby Ray Moore', '67'),
 ('Willie Lamont Sample', '39'),
 ('Keith Carter', '52'),
 ('Kevin Phoummany', '38'),
 ('Channara Tom Pheap', '33'),
 ('Taylor Joseph Ware', '24'),
 ('Dennis Carolino', '52'),
 ('Larry Leonard Lowry Jr.', '34'),
 ('Chad Michael Breinholt', '31'),
 ('Daryl L. Perkins', '55'),
 ('William Lloyd Jones', '49'),
 ('Michael Tuck', '29'),
 ('Roberto Mata', '46'),
 ('Roger Schafer', '57'),
 ('Name withheld by police', None),
 ('Name withheld by police', 'Unknown'),
 ('Gary E. Strobridge', '49'),
 ('Riley Eugene Peay', '39'),
 ('Name withheld by police', '50'),
 ('Name withheld by police', '54'),
 ('James Crowe', '27'),
 ('Amari Malone', '18'),
 ('Name withheld by police', None),
 ('Carlos Torres', '39'),
 ('Michael Lopez', '69'),
 ('Roberto Rene Gabriel', '33'),
 ('Morales Velasquez', '31'),
 ('Jared Nelson', '38'),
 ('Schaston Theodore Lamarr Hodge', '27'),
 ('Mike Parsley', '62'),
 ('Jerome Michael Uzzle', '34'),
 ('Rashad Cunningham', '25'),
 ('Jovany Mercado-Bedolla', '26'),
 ('Collin Osborn', '38'),
 ('Jose Luis Campos Jr.', '41'),
 ('Jamie Fernandez', '31'),
 ('Neil Bond', '33'),
 ('Thomas Michael Reynolds', '37'),
 ('Charles Roy Pearson', '51'),
 ('Cole Steele Jessup', '20'),
 ('David Tyler Ingle', '31'),
 ('Javaon Ousley', '19'),
 ('Anthony Wayne French', '49'),
 ('Jerry "Knot-Knot" Orlando Weaver', '51'),
 ('Scott Souders', '38'),
 ('Aaron Luther', '49'),
 ('John Michael George', '46'),
 ('Patrick Sanders', '57'),
 ('Freddrick Andrews Hadden', '45'),
 ('Manuel Charles Carter', '57'),
 ('Name withheld by police', None),
 ('Name withheld by police', 'Unknown'),
 ('Mark Johnson', '62'),
 ('Jose Mendez', '37'),
 ('Jason Xavier Salas', '52'),
 ('Christopher Morris', '41'),
 ('Kaizen Crossen', '39'),
 ('Kevin Jenkins', '52'),
 ('Toussaint Diamon Sims', '27'),
 ('Troy Petersen', '28'),
 ('Detravian Allison', '18'),
 ('Donald Babbit', '49'),
 ('Brandon C. Jones', '39'),
 ('Gary J. Willis', '61'),
 ('James Lee Kirkwood', '49'),
 ('Derrick Mark Davidson', '56'),
 ('Riche Antonio Santiago', '21'),
 ('Allan George', '57'),
 ('William Biggs', '43'),
 ('Oscar Ventura-Gonzalez', '32'),
 ('Robert Clay Wilsford Sr.', '65'),
 ('Marvin Alexis Urbina', '19'),
 ('Connor Betts', '24'),
 ('John Clark', '35'),
 ('Aigon Andrew Wallace', '25'),
 ("De'Von Bailey", '19'),
 ('Cortney Ronald Staley', '32'),
 ('Mario Philip Benjamin', '34'),
 ('Deshon Downing', '45'),
 ('Delano Williams', '55'),
 ('Lenny Blane Griffith', '48'),
 ('Jamaal Michael Simpson', '21'),
 ('Eric Allen Toon', '36'),
 ('Andre Leach', '27'),
 ('Margarita Victoria Brooks', '30'),
 ('David Willoughby', '54'),
 ('Mauris Nishanga DeSilva', '43'),
 ('Robert Schneider', '46'),
 ('Donald Lee Joseph', '37'),
 ('Jose Baca-Olivares', '58'),
 ('Jerry Reeves', '42'),
 ('Lane Christopher Martin', '31'),
 ('Aric Rashaad Moody', '16'),
 ('Patricia Spivey', '52'),
 ('Adalberto Wolmar Rodriguez', '62'),
 ('Jamal Muhammad', '42'),
 ('Todd Messner', '49'),
 ('Alphonso Zaporta', '41'),
 ('Donald Williams Allamong', '56'),
 ('Joshua Steven Mitchell', '44'),
 ('Josef Delon Richardson', '38'),
 ('Omari Thompson', '31'),
 ('Ross Alan Rittacco', '42'),
 ('Joshua Vigil', '38'),
 ('James Manzo', '27'),
 ('John David Brown', '53'),
 ('Shawan F. Allen', '17'),
 ('Elisha Lucero', '28'),
 ('Hashim Jibri Wilson', '28'),
 ('Witney Rivera', '41'),
 ('Jeffrey Bodie', '39'),
 ('Samuel Fullerton', '39'),
 ('Makeyvion Devonte Cannon', '19'),
 ('Tony Orland Mills', '73'),
 ('Patrick David Martinez', '53'),
 ('Roderick Wilson', '35'),
 ('Rudy Santillan', '36'),
 ('Mark Anson Schoggins', '35'),
 ('Stephen Murray', '52'),
 ('Leo Brooks', '23'),
 ('Omar Shado Stevens', '28'),
 ('Brandon Ray Stansel', '36'),
 ('Kelly Danielle Brumley', '40'),
 ('Stephen Fischer', '62'),
 ('Jose Javier Gonzalez', '52'),
 ('Jeffrey Baldwin', '36'),
 ('Wilma McClasky', '59'),
 ('Daryl W. Johannesson', '56'),
 ('Michael Anthony Brand', '43'),
 ('Ashanti Pinkney', '49'),
 ('Onaje Dickinson', '20'),
 ('Blige Sean Christopher Cypress', '22'),
 ('Christine Formisano', '37'),
 ('Dijon D. Watkins', '30'),
 ('Derek Antonio-Sanchez', '35'),
 ('Willem Van Spronsen', '69'),
 ('Brian H. Benfield', '46'),
 ('Jamahl Smith', '46'),
 ('Darrell Allen', '32'),
 ('Michael Lewis McClure', '37'),
 ('Frankie Feliciano', '33'),
 ('Dennis Edwards', None),
 ('Anthony James Gonzalez', '36'),
 ('Shawn Toney', '23'),
 ('Jason Harris', '36'),
 ('Grayson Schuessler', '26'),
 ('Name withheld by police', None),
 ('Sean Rambert', '23'),
 ('Luis Vasquez', '42'),
 ('Ronnie Cole', '58'),
 ('Johnny M. Vigil', '43'),
 ('Thomas N. Graham', '61'),
 ('Johnny W. Dellinger', '41'),
 ('Kareem Omar Morgan', '43'),
 ('Jose Martinez', '34'),
 ('Tymar Crawford', '28'),
 ('Angel Ramos Otero', '37'),
 ('Joshua Ortiz', '21'),
 ('James "Jim" Christopher Pinkston', '58'),
 ('Hannah Williams', '17'),
 ('Leonel Mendez', '34'),
 ('Olivio Sandoval Diaz', '47'),
 ('Mark A. Naugle', '53'),
 ('Li Xi Wang', '49'),
 ('Jonathan Joseph Pingel', '26'),
 ('Stonechild Chiefstick', '39'),
 ('Christine Soto Venegas', '38'),
 ('Isaiah Robinson', '39'),
 ('Chad Williams', '44'),
 ('Casiano Coronel', '21'),
 ('Isak Abdirahman Aden', '23'),
 ('Ben Fields', '67'),
 ('Jeffrey Philip Krueger', '37'),
 ('Aaron Hong', '23'),
 ('Christopher Barela', '22'),
 ('Terry Allen "Bubba" Payne', '52'),
 ('Enrique Lopez', '26'),
 ('Jack Daniel West', '61'),
 ('Darren Williams', '34'),
 ('Camine Fazzolari', '24'),
 ('Zackary Ryan Hoppe', '40'),
 ('Gene Pool', '37'),
 ('Larry Pettiford', '69'),
 ('Ryan Moody', '19'),
 ('William Lamb', '76'),
 ('Benjamin "Ray" Smith', '54'),
 ('Matthew Christian Smith', '33'),
 ('Eric Sandoval', '41'),
 ('Marvin Green', '50'),
 ('Paul David Rea', '18'),
 ('William Aubrey Martin', '50'),
 ('Stephen D. Sloan', '35'),
 ('Elijah Collins III', '32'),
 ('Michael Norquest', '50'),
 ('Name withheld by police', None),
 ('Name withheld by police', 'Unknown'),
 ('Name withheld by police', '38'),
 ('Name withheld by police', 'Unknown'),
 ('Name withheld by police', 'Unknown'),
 ('Tomas Hernandez', '35'),
 ('Shawn D. Blowers', '43'),
 ('Peter Alexander Bohning', '34'),
 ('Bradley Rundle', '61'),
 ('Jaymil Ellerbe', '19'),
 ('Michael Allen Spencer', '29'),
 ('Scott William Robertson', '41'),
 ('Kevin Alaniz', '26'),
 ('Dewayne Tackett', '38'),
 ('Juan Carlos Chapa', '33'),
 ('Michael Sheridan', '34'),
 ('Joshua Florez', '18'),
 ('DeWayne Watkins', '74'),
 ('Brian Isaack Clyde', '22'),
 ('Mark Anthony Galvan', '20'),
 ('Francisco Tarin', '35'),
 ('Carlos Vale', '31'),
 ('Eric Jack Logan', '53'),
 ('Eric Portillo', '37'),
 ('Mantry Norris', '20'),
 ('Jamarcus Dejun Moore', '28'),
 ('Derrick Edmond', '18'),
 ('Tyrese West', '18'),
 ('Shawn Ray Wilson', '48'),
 ('Michael Sheehan', '45'),
 ('Alfredo Chino', '38'),
 ('Kenneth French', '32'),
 ('Eric Phillips', '42'),
 ('Name withheld by police', None),
 ('Tramon Savage', '22'),
 ('Marquis Weems', '17'),
 ('Brandon Webber', '20'),
 ('Juan Moreno Jr.', '35'),
 ('Thomas Ray Berry', '52'),
 ('Jaquan Derrick Diijon Thompson', '27'),
 ('Anthony Gomez', '56'),
 ('Jimmy De Odell', '61'),
 ('Buddie Thomas Nichols II', '40'),
 ('Eddie Humberto Segura', '40'),
 ('Logan O. Johnsrud', '32'),
 ('Terry Frost', '32'),
 ('Brent Durbin-Daniel', '19'),

[]

In [61]:
data = pd.read_sql("SELECT * FROM PoliceShootings", con=engine)
data.head()

OperationalError: (sqlite3.OperationalError) no such table: PoliceShootings
[SQL: SELECT * FROM PoliceShootings]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [ ]:
Demographics = Base.classes.

In [ ]:
session = Session(engine)

In [ ]:
for row in session.query(Name, Demographics.location).limit(5).all():
    print(row)