In [295]:
import pandas as pd
import numpy as np

In [296]:
DataSet1 = "datasets_2647_4395_PoliceKillingsUS.csv"
DataSet1 = pd.read_csv(DataSet1)

#Rename all DataSet1 columns to match Dataset2
Renamed_DataSet1 = DataSet1.rename(columns={"city":"City","state":"State","name":"Victim's name",
                                   "age":"Victim's age", "gender":"Victim's gender","race":"Victim's race", "signs_of_mental_illness":"Symptoms of mental illness?","armed":"Unarmed", "manner_of_death": "Cause of death", "threat_level": "Alleged Threat Level (Source: WaPo)", "flee": "Fleeing (Source: WaPo)","body_camera": "Body Camera (Source: WaPo)", "date":"Date of Incident (month/day/year)"})
Renamed_DataSet1

,id,Victim's name,Date of Incident (month/day/year),Cause of death,Unarmed,Victim's age,Victim's gender,Victim's race,City,State,Symptoms of mental illness?,Alleged Threat Level (Source: WaPo),Fleeing (Source: WaPo),Body Camera (Source: WaPo)
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2530,2822,Rodney E. Jacobs,28/07/17,shot,gun,31.0,M,NaN,Kansas City,MO,False,attack,Not fleeing,False
2531,2813,TK TK,28/07/17,shot,vehicle,NaN,M,NaN,Albuquerque,NM,False,attack,Car,False
2532,2818,Dennis W. Robinson,29/07/17,shot,gun,48.0,M,NaN,Melba,ID,False,attack,Car,False
2533,2817,Isaiah Tucker,31/07/17,shot,vehicle,28.0,M,B,Oshkosh,WI,False,attack,Car,True
2534,2815,Dwayne Jeune,31/07/17,shot,knife,32.0,M,B,Brooklyn,NY,True,attack,Not fleeing,False

In [297]:
Renamed_DataSet1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2535 entries, 0 to 2534
Data columns (total 14 columns):
id                                     2535 non-null int64
Victim's name                          2535 non-null object
Date of Incident (month/day/year)      2535 non-null object
Cause of death                         2535 non-null object
Unarmed                                2526 non-null object
Victim's age                           2458 non-null float64
Victim's gender                        2535 non-null object
Victim's race                          2340 non-null object
City                                   2535 non-null object
State                                  2535 non-null object
Symptoms of mental illness?            2535 non-null bool
Alleged Threat Level (Source: WaPo)    2535 non-null object
Fleeing (Source: WaPo)                 2470 non-null object
Body Camera (Source: WaPo)             2535 non-null bool
dtypes: bool(2), float64(1), int64(1), object(10)
memory usage: 242.7+ KB

In [298]:
#Read in Dataset2
DataSet2 = "police_killings_new.csv"
DataSet2 = pd.read_csv(DataSet2)
DataSet2

,Victim's name,Victim's age,Victim's gender,Victim's race,URL of image of victim,Date of Incident (month/day/year),Street Address of Incident,City,State,Zipcode,...,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65
0,Eric M. Tellez,28,Male,White,https://fatalencounters.org/wp-content/uploads...,31/12/2019,Broad St.,Globe,AZ,85501.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Name withheld by police,NaN,Male,Unknown race,NaN,31/12/2019,7239-7411 I-40,Memphis,AR,38103.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Terry Hudson,57,Male,Black,NaN,31/12/2019,3600 N 24th St,Omaha,NE,68110.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Malik Williams,23,Male,Black,NaN,31/12/2019,30800 14th Avenue South,Federal Way,WA,98003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Frederick Perkins,37,Male,Black,NaN,31/12/2019,17057 N Outer 40 Rd,Chesterfield,MO,63005.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [299]:
DataSet2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7907 entries, 0 to 7906
Data columns (total 66 columns):
Victim's name                                                                                                                                                                 7663 non-null object
Victim's age                                                                                                                                                                  7596 non-null object
Victim's gender                                                                                                                                                               7655 non-null object
Victim's race                                                                                                                                                                 7663 non-null object
URL of image of victim                                                                                                                                                        4200 non-null object
Date of Incident (month/day/year)                                                                                                                                             7663 non-null object
Street Address of Incident                                                                                                                                                    7580 non-null object
City                                                                                                                                                                          7657 non-null object
State                                                                                                                                                                         7663 non-null object
Zipcode                                                                                                                                                                       7624 non-null float64
County                                                                                                                                                                        7648 non-null object
Agency responsible for death                                                                                                                                                  7647 non-null object
Cause of death                                                                                                                                                                7663 non-null object
A brief description of the circumstances surrounding the death                                                                                                                7643 non-null object
Official disposition of death (justified or other)                                                                                                                            7407 non-null object
Criminal Charges?                                                                                                                                                             7663 non-null object
Link to news article or photo of official document                                                                                                                            7651 non-null object
Symptoms of mental illness?                                                                                                                                                   7652 non-null object
Unarmed                                                                                                                                                                       7663 non-null object
Alleged Weapon (Source: WaPo)                                                                                                                                                 7663 non-null object
Alleged Threat Level (Source: WaPo)                                                                                                                                           5281 non-null object
Fleeing (Source: WaPo)                                                                                                                                                        5047 non-null object
Body Camera (Source: WaPo)                                                                                                                                                    4794 non-null object
WaPo ID (If included in WaPo database)                                                                                                                                        4878 non-null float64
Off-Duty Killing?                                                                                                                                                             226 non-null object
Geography (via Trulia methodology based on zipcode population density: http://jedkolko.com/wp-content/uploads/2015/05/full-ZCTA-urban-suburban-rural-classification.xlsx )    7596 non-null object
ID                                                                                                                                                                            7663 non-null float64
Unnamed: 27                                                                                                                                                                   0 non-null float64
Unnamed: 28                                                                                                                                                                   0 non-null float64
Unnamed: 29                                                                                                                                                                   0 non-null float64
Unnamed: 30                                                                                                                                                                   0 non-null float64
Unnamed: 31                                                                                                                                                                   0 non-null float64
Unnamed: 32                                                                                                                                                                   0 non-null float64
Unnamed: 33                                                                                                                                                                   0 non-null float64
Unnamed: 34                                                                                                                                                                   0 non-null float64
Unnamed: 35                                                                                                                                                                   0 non-null float64
Unnamed: 36                                                                                                                                                                   0 non-null float64
Unnamed: 37                                                                                                                                                                   0 non-null float64
Unnamed: 38                                                                                                                                                                   0 non-null float64
Unnamed: 39                                                                                                                                                                   0 non-null float64
Unnamed: 40                                                                                                                                                                   0 non-null float64
Unnamed: 41                                                                                                                                                                   0 non-null float64
Unnamed: 42                                                                                                                                                                   0 non-null float64
Unnamed: 43                                                                                                                                                                   0 non-null float64
Unnamed: 44                                                                                                                                                                   0 non-null float64
Unnamed: 45                                                                                                                                                                   0 non-null float64
Unnamed: 46                                                                                                                                                                   0 non-null float64
Unnamed: 47                                                                                                                                                                   0 non-null float64
Unnamed: 48                                                                                                                                                                   0 non-null float64
Unnamed: 49                                                                                                                                                                   0 non-null float64
Unnamed: 50                                                                                                                                                                   0 non-null float64
Unnamed: 51                                                                                                                                                                   0 non-null float64
Unnamed: 52                                                                                                                                                                   0 non-null float64
Unnamed: 53                                                                                                                                                                   0 non-null float64
Unnamed: 54                                                                                                                                                                   0 non-null float64
Unnamed: 55                                                                                                                                                                   0 non-null float64
Unnamed: 56                                                                                                                                                                   0 non-null float64
Unnamed: 57                                                                                                                                                                   0 non-null float64
Unnamed: 58                                                                                                                                                                   0 non-null float64
Unnamed: 59                                                                                                                                                                   0 non-null float64
Unnamed: 60                                                                                                                                                                   0 non-null float64
Unnamed: 61                                                                                                                                                                   0 non-null float64
Unnamed: 62                                                                                                                                                                   0 non-null float64
Unnamed: 63                                                                                                                                                                   0 non-null float64
Unnamed: 64                                                                                                                                                                   0 non-null float64
Unnamed: 65                                                                                                                                                                   0 non-null float64
dtypes: float64(42), object(24)
memory usage: 4.0+ MB

In [300]:
#Change "Unknown" age to NaN
DataSet2.loc[DataSet2["Victim's age"]=="Unknown", "Victim's age"] = np.nan

In [301]:
#Change "40s" age to 40
DataSet2.loc[DataSet2["Victim's age"]=="40s", "Victim's age"] = 40

In [302]:
#Transfor data type to float to match DataSet1 data type
DataSet2["Victim's age"]=DataSet2["Victim's age"].astype(float)

In [303]:
#Concatenate the 2 Datasets
concat_df = pd.concat([Renamed_DataSet1, DataSet2 ], sort=False)
concat_df

,id,Victim's name,Date of Incident (month/day/year),Cause of death,Unarmed,Victim's age,Victim's gender,Victim's race,City,State,...,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65
0,3.0,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4.0,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5.0,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8.0,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9.0,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [304]:
#Drop strange colums at the end of Df
concat_df = concat_df.drop(columns=concat_df.columns[29:])

In [305]:
#check columns and data types
concat_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10442 entries, 0 to 7906
Data columns (total 29 columns):
id                                                                                                                                                                            2535 non-null float64
Victim's name                                                                                                                                                                 10198 non-null object
Date of Incident (month/day/year)                                                                                                                                             10198 non-null object
Cause of death                                                                                                                                                                10198 non-null object
Unarmed                                                                                                                                                                       10189 non-null object
Victim's age                                                                                                                                                                  9916 non-null float64
Victim's gender                                                                                                                                                               10190 non-null object
Victim's race                                                                                                                                                                 10003 non-null object
City                                                                                                                                                                          10192 non-null object
State                                                                                                                                                                         10198 non-null object
Symptoms of mental illness?                                                                                                                                                   10187 non-null object
Alleged Threat Level (Source: WaPo)                                                                                                                                           7816 non-null object
Fleeing (Source: WaPo)                                                                                                                                                        7517 non-null object
Body Camera (Source: WaPo)                                                                                                                                                    7329 non-null object
URL of image of victim                                                                                                                                                        4200 non-null object
Street Address of Incident                                                                                                                                                    7580 non-null object
Zipcode                                                                                                                                                                       7624 non-null float64
County                                                                                                                                                                        7648 non-null object
Agency responsible for death                                                                                                                                                  7647 non-null object
A brief description of the circumstances surrounding the death                                                                                                                7643 non-null object
Official disposition of death (justified or other)                                                                                                                            7407 non-null object
Criminal Charges?                                                                                                                                                             7663 non-null object
Link to news article or photo of official document                                                                                                                            7651 non-null object
Alleged Weapon (Source: WaPo)                                                                                                                                                 7663 non-null object
WaPo ID (If included in WaPo database)                                                                                                                                        4878 non-null float64
Off-Duty Killing?                                                                                                                                                             226 non-null object
Geography (via Trulia methodology based on zipcode population density: http://jedkolko.com/wp-content/uploads/2015/05/full-ZCTA-urban-suburban-rural-classification.xlsx )    7596 non-null object
ID                                                                                                                                                                            7663 non-null float64
Unnamed: 27                                                                                                                                                                   0 non-null float64
dtypes: float64(6), object(23)
memory usage: 2.4+ MB

In [306]:
#Drop unused columns
concat_df = concat_df.drop(columns=["WaPo ID (If included in WaPo database)", "URL of image of victim", "Off-Duty Killing?","Geography (via Trulia methodology based on zipcode population density: http://jedkolko.com/wp-content/uploads/2015/05/full-ZCTA-urban-suburban-rural-classification.xlsx )", "Link to news article or photo of official document" ])

In [307]:
#Remove duplicates based on Name, City, and State
concat_df = concat_df.drop_duplicates(subset = ["Victim's name","City", "State"])

In [308]:
concat_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8659 entries, 0 to 7663
Data columns (total 24 columns):
id                                                                2530 non-null float64
Victim's name                                                     8658 non-null object
Date of Incident (month/day/year)                                 8658 non-null object
Cause of death                                                    8658 non-null object
Unarmed                                                           8649 non-null object
Victim's age                                                      8423 non-null float64
Victim's gender                                                   8651 non-null object
Victim's race                                                     8467 non-null object
City                                                              8652 non-null object
State                                                             8658 non-null object
Symptoms of mental illness?                                       8647 non-null object
Alleged Threat Level (Source: WaPo)                               6312 non-null object
Fleeing (Source: WaPo)                                            6028 non-null object
Body Camera (Source: WaPo)                                        5833 non-null object
Street Address of Incident                                        6057 non-null object
Zipcode                                                           6093 non-null float64
County                                                            6114 non-null object
Agency responsible for death                                      6112 non-null object
A brief description of the circumstances surrounding the death    6109 non-null object
Official disposition of death (justified or other)                5954 non-null object
Criminal Charges?                                                 6128 non-null object
Alleged Weapon (Source: WaPo)                                     6128 non-null object
ID                                                                6128 non-null float64
Unnamed: 27                                                       0 non-null float64
dtypes: float64(5), object(19)
memory usage: 1.7+ MB

In [309]:
#Rename final columns for consistency to enter in DB
New_df = concat_df.rename(columns={"id":"ID", "Victim's name": "Name", "Victim's age": "Age", "Cause of death": "Death_cause", "Unarmed": "Armed", "Victim's gender": "Gender", "Victim's race": "Race", "Symptoms of mental illness?": "Mental_illness", "Alleged Threat Level (Source: WaPo)": "Threat_level", "Fleeing (Source: WaPo)": "Fleeing", "Body Camera (Source: WaPo)": "Body_camera", "Date of Incident (month/day/year)": "Date", "Street Address of Incident": "Address", "Agency responsible for death": "Agency", "A brief description of the circumstances surrounding the death": "Description", "Official disposition of death (justified or other)": "Disposition_of_death", "Criminal Charges?": "Criminal_charges", "Alleged Weapon (Source: WaPo)": "Alleged_weapon"})

In [310]:
#Check new column names
New_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8659 entries, 0 to 7663
Data columns (total 24 columns):
ID                      2530 non-null float64
Name                    8658 non-null object
Date                    8658 non-null object
Death_cause             8658 non-null object
Armed                   8649 non-null object
Age                     8423 non-null float64
Gender                  8651 non-null object
Race                    8467 non-null object
City                    8652 non-null object
State                   8658 non-null object
Mental_illness          8647 non-null object
Threat_level            6312 non-null object
Fleeing                 6028 non-null object
Body_camera             5833 non-null object
Address                 6057 non-null object
Zipcode                 6093 non-null float64
County                  6114 non-null object
Agency                  6112 non-null object
Description             6109 non-null object
Disposition_of_death    5954 non-null object
Criminal_charges        6128 non-null object
Alleged_weapon          6128 non-null object
ID                      6128 non-null float64
Unnamed: 27             0 non-null float64
dtypes: float64(5), object(19)
memory usage: 1.7+ MB

In [311]:
#Normalize the data en columns. Homogeneous data

In [312]:
#Cleanup Mental Illness column
New_df["Mental_illness"].value_counts()

No                     3921
False                  1898
Yes                    1097
Unknown                 849
True                    632
Drug or alcohol use     248
unknown                   1
Unknown                   1
Name: Mental_illness, dtype: int64

In [313]:
#Change "True" values to "Yes" for normalization, etc
New_df.loc[New_df["Mental_illness"]==True, "Mental_illness"] = "Yes"

In [314]:
New_df.loc[New_df["Mental_illness"]==False, "Mental_illness"] = "No"

In [315]:
New_df.loc[New_df["Mental_illness"]=="unknown", "Mental_illness"] = "Unknown"

In [316]:
New_df.loc[New_df["Mental_illness"]=="Unknown ", "Mental_illness"] = "Unknown"

In [317]:
#Cleanup Fleeing column
New_df["Fleeing"].value_counts()

Not fleeing    4033
Car             976
Foot            743
Other           178
0                83
not fleeing       8
car               5
foot              2
Name: Fleeing, dtype: int64

In [318]:
New_df.loc[New_df["Fleeing"]=="car", "Fleeing"] = "Car"

In [319]:
New_df.loc[New_df["Fleeing"]=="foot", "Fleeing"] = "Foot"

In [320]:
New_df.loc[New_df["Fleeing"]=="0", "Fleeing"] = "Other"

In [321]:
New_df.loc[New_df["Fleeing"]=="not fleeing", "Fleeing"] = "Not fleeing"

In [322]:
#Clean up Threat Level column. Looks good
New_df["Threat_level"].value_counts()

attack          4044
other           1889
undetermined     379
Name: Threat_level, dtype: int64

In [323]:
#Armed -- How to proceed? It has too many categories
New_df["Armed"].value_counts()

Allegedly Armed            4273
gun                        1393
Unarmed                     896
Unclear                     548
Vehicle                     411
                           ...
cordless drill                1
chain                         1
oar                           1
glass shard                   1
baseball bat and bottle       1
Name: Armed, Length: 72, dtype: int64

In [324]:
New_df["Age"].value_counts()

25.0    286
34.0    277
31.0    270
32.0    269
27.0    268
       ...
10.0      1
7.0       1
79.0      1
93.0      1
95.0      1
Name: Age, Length: 85, dtype: int64

In [325]:
New_df["Race"].value_counts()

White               2700
Black               1539
W                   1201
Hispanic            1012
Unknown race         629
B                    617
H                    423
Native American       85
Asian                 80
Unknown Race          47
A                     39
Pacific Islander      36
N                     31
O                     28
Name: Race, dtype: int64

In [326]:
New_df.loc[New_df["Race"]=="W", "Race"] = "White"

In [327]:
New_df.loc[New_df["Race"]=="B", "Race"] = "Black"

In [328]:
New_df.loc[New_df["Race"]=="H", "Race"] = "Hispanic"

In [329]:
New_df.loc[New_df["Race"]=="A", "Race"] = "Asian"

In [330]:
New_df.loc[New_df["Race"]=="N", "Race"] = "Native American"

In [331]:
New_df.loc[New_df["Race"]=="O", "Race"] = "Unknown race"

In [332]:
New_df.loc[New_df["Race"]=="Unknown Race", "Race"] = "Unknown race"

In [333]:
New_df["Gender"].value_counts()

Male           5783
M              2423
Female          328
F               107
Transgender       7
Unknown           3
Name: Gender, dtype: int64

In [334]:
New_df.loc[New_df["Gender"]=="M", "Gender"] = "Male"

In [335]:
New_df.loc[New_df["Gender"]=="F", "Gender"] = "Female"

In [341]:
New_df = concat_df.drop(columns=["Unnamed: 27", "id", "ID"])

In [342]:
New_df
#how to manage the NaNs?

,Victim's name,Date of Incident (month/day/year),Cause of death,Unarmed,Victim's age,Victim's gender,Victim's race,City,State,Symptoms of mental illness?,...,Fleeing (Source: WaPo),Body Camera (Source: WaPo),Street Address of Incident,Zipcode,County,Agency responsible for death,A brief description of the circumstances surrounding the death,Official disposition of death (justified or other),Criminal Charges?,Alleged Weapon (Source: WaPo)
0,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,...,Not fleeing,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,...,Not fleeing,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,...,Not fleeing,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,...,Not fleeing,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,...,Not fleeing,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7659,Tyree Bell,01/01/2013,Gunshot,Allegedly Armed,31.0,Male,Black,Omaha,NE,Yes,...,NaN,NaN,3727 N. 42nd St.,68111.0,Douglas,Omaha Police Department,Omaha Police Department responded to a 911 dom...,Justified,No known charges,gun
7660,Christopher Tavares,01/01/2013,Gunshot,Allegedly Armed,21.0,Male,Hispanic,Pueblo,CO,No,...,NaN,NaN,Highway 50 and North Elizabeth Street,81008.0,Pueblo,Pueblo Police Department,Christopher was with two others in a car. Pueb...,Justified,No known charges,gun
7661,Andrew L. Closson,01/01/2013,Gunshot,Allegedly Armed,21.0,Male,White,Gordon,WI,Drug or alcohol use,...,NaN,NaN,U.S. Highway 53,54838.0,Douglas,Douglas County Sheriff's Office,Deputies responded to a 911 call of shots fire...,Justified,No known charges,gun
7662,Andrew Layton,01/01/2013,Taser,Unarmed,26.0,Male,White,Mankato,MN,No,...,NaN,NaN,410 S Riverfront Drive,56001.0,Blue Earth,Mankato Department of Public Safety,Former combat medic Layton was found unconscio...,Unreported,No known charges,unarmed
7663,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [340]:
New_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8659 entries, 0 to 7663
Data columns (total 23 columns):
id                                                                2530 non-null float64
Victim's name                                                     8658 non-null object
Date of Incident (month/day/year)                                 8658 non-null object
Cause of death                                                    8658 non-null object
Unarmed                                                           8649 non-null object
Victim's age                                                      8423 non-null float64
Victim's gender                                                   8651 non-null object
Victim's race                                                     8467 non-null object
City                                                              8652 non-null object
State                                                             8658 non-null object
Symptoms of mental illness?                                       8647 non-null object
Alleged Threat Level (Source: WaPo)                               6312 non-null object
Fleeing (Source: WaPo)                                            6028 non-null object
Body Camera (Source: WaPo)                                        5833 non-null object
Street Address of Incident                                        6057 non-null object
Zipcode                                                           6093 non-null float64
County                                                            6114 non-null object
Agency responsible for death                                      6112 non-null object
A brief description of the circumstances surrounding the death    6109 non-null object
Official disposition of death (justified or other)                5954 non-null object
Criminal Charges?                                                 6128 non-null object
Alleged Weapon (Source: WaPo)                                     6128 non-null object
ID                                                                6128 non-null float64
dtypes: float64(4), object(19)
memory usage: 1.6+ MB